.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.bold {
	font-weight: bold;
}

.right {
	float: right;
}

.row {
	margin-top: 1rem;
}

.label-deparatureTime {
	margin-top: 4rem;
}

.page-view {
	margin-top: 1rem;
}

.drive-button {
	padding: 0;
}

.error {
	margin-bottom: 0.5rem;
}

.navbar-inverse {
	background-color: #c0dfd9;
	border-color: #c0dfd9;
}

.navbar-inverse .navbar-brand {
	color: #3b3a36;
}

.navbar-inverse .navbar-nav > li > a {
	color: #3b3a36;
}

.btn-primary {
	background-color: #3b3a36;
	border-color: #3b3a36;
}

.btn-primary:hover {
	background-color: #b3c2bf;
	border-color: #b3c2bf;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
	background-color: #3b3a36;
	border-color: #3b3a36;
}

.btn-default {
	color: #3b3a36;
}

.btn-default:hover {
	background-color: #b3c2bf;
	border-color: #b3c2bf;
	color: #fff;
}

.modal-content {
	background-color: #e9ece5;
}

.btn-link {
	color: #3b3a36;
}

.btn-link:hover {
	color: #b3c2bf;
}

.logo {
	margin-top: -10px;
}

body {
	background-color: #e9ece5;
}

#map {
	height: 400px;
	margin-top: 1rem;
	border-radius: 5px;
	border: 1px solid silver;
}

.carpool-view-times {
	margin-top: -4rem;
	margin-bottom: 1rem;
}

.carpool-view-button {
	margin-top: 1rem;
}

.carpool-detail {
	border-top: thin solid #e9ece5;
	margin-top: 0.5rem;
	padding-top: 0.5rem;
}
