<section data-ng-controller="CarpoolsController" data-ng-init="init()">
    <div class="row">
        <div class="col-xs-11 text-center page-view">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default"
                        ng-click="pageView = 'LIST'">list</button>
                <button type="button" class="btn btn-default"
                        ng-click="pageView = 'MAP'">map</button>
            </div>
        </div>
        <div class="col-xs-1 drive-button">
            <button type="button" class="btn btn-primary"
                    ng-if="canShowDrive()"
                    ng-click="drive()">Drive</button>
        </div>
    </div>

    <div class="row">
      <form>
        <input type="text" class="form-control" placeholder="Where do you wanna go?" ng-model="placeSearch.name" id="destination"/>
      </form>
    </div>

    <div ng-if="pageView === 'LIST'" class="row list-group">
      <a data-ng-repeat="carpool in carpools | filter:placeSearch.name" class="list-group-item"
         ng-click="carpool.showDetail=!carpool.showDetail" ng-if="canJoinCarPool(carpool)">

        <div class="row">
            <div class="col-xs-4 carpool-destination">{{carpool.destination.name}}</div>
            <div class="text-center col-xs-4 carpool-departureTime">{{carpool.departureTime | date:'h:mm a'}} - {{carpool.returnTime | date:'h:mm a'}} </div>
            <div class="text-center col-xs-4 carpool-numSeats">{{carpool.numSeats - carpool.riders.length}} seats remaining</div>
        </div>

        <small class="list-group-item-text">
          Posted on
          <span data-ng-bind="carpool.created | date:'medium'"></span>
          by
          <span data-ng-bind="carpool.user.displayName"></span>
        </small>


        <div ng-if="carpool.showDetail">
            <div ng-if="carpool.riders.length > 0">Riders: {{getRiders(carpool)}}</div>
            <div ng-if="carpool.riders.length === 0">No riders yet!</div>
            <button type="button" class="btn btn-primary" ng-click="joinCarpool(carpool)">Join!</button>
        </div>

      </a>
    </div>


    <div ng-if="pageView === 'MAP'" ng-controller="MapsController" ng-init="initMap()">
      <div id="map"></div>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!carpools.$resolved || carpools.length">
    	No Carpools yet, why don't you <a href="/#!/carpools/create">create one</a>?
    </div>
</section>
