<div class="modal-header">
    <h3 class="modal-title">I'm driving!</h3>
</div>
<div class="modal-body">
    <div ng-if="error" class="alert alert-danger">
        {{error}}
    </div>


    <p>I'm going to
    <input type="text" class="form-control-inline" ng-model="carpool.destination.name" placeholder="destination"/>
    and I can hold
    <input type="number" class="form-control-inline" ng-model="carpool.numSeats"  placeholder="number of seats"/>
    people.</p>

    <div class="row">
        <div class="col-xs-3 label-deparatureTime">I'm leaving at</div>
        <div class="col-xs-9">
            <timepicker hour-step="1" minute-step="1" show-meridian="true" ng-model="carpool.departureTime"></timepicker>
        </div>
        <div class="col-xs-3 label-deparatureTime">and returning at</div>
        <div class="col-xs-9">
            <timepicker hour-step="1" minute-step="1" show-meridian="true" ng-model="carpool.returnTime"></timepicker>
        </div>
    </div>

    <div class="form-group">
        <label for="carpoolNote">Notes:</label>
        <textarea class="form-control" rows="3" id="carpoolNote" ng-model="carpool.note"></textarea>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
