<div class="modal-header">
    <h3 class="modal-title">I'm driving!</h3>
</div>
<div class="modal-body">
    <p>I'm going to</p>
    <input type="text" class="input-lg" ng-model="carpool.destination"/>
    <p> and I can hold </p>
    <input type="number" class="input-sm" ng-model="carpool.numSeats"/>
    <p>people. I'm leaving at</p>
    <timepicker hour-step="1" minute-step="1" show-meridian="true" ng-model="carpool.departureTime"></timepicker>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
